<div *ngIf="isLoading" class="spinner-border" role="status">

</div>

<a [routerLink]="['']" class="btn btn-success">Retour</a>

<div *ngIf="!isLoading">
  <h1>{{ voiture?.marque?.nom|uppercase }} {{ voiture?.nom }} </h1>

  <img src="{{ voiture?.image }}" alt="Image de {{voiture?.nom}}">


  <ul>
    <li>{{ voiture?.nbKm }} km</li>
    <h2>{{ voiture?.prix }} euros</h2>
  </ul>
</div>
