<h1>Ajouter un nouveau véhicule</h1>

<a [routerLink]="['/admin']">
  <button class="btn btn-success">
    Retour
  </button>
</a>
<div *ngIf="isLoading" class="spinner-border" role="status">
</div>


<form *ngIf="!isLoading" (submit)="updateVehicule()" #formVoiture="ngForm">
  <div class="form-row" >
    <div class="col-md-4 mb-3">
      <label for="username">Nom du véhicule</label>
      <input type="text" #vehiculeNomInput="ngModel" [(ngModel)]="vehiculeForm.nom"
             required class="form-control"
             [class.is-valid] = "vehiculeNomInput.valid"
             [class.is-invalid] = "!vehiculeNomInput.valid"
             id="username" name="username"
             placeholder="Nom d'utilisateur">
      <div *ngIf="vehiculeNomInput.valid" class="valid-feedback">
        Looks good!
      </div>

      <div *ngIf="!vehiculeNomInput.valid" class="invalid-feedback">
        Veuillez saisir le nom du véhicule
      </div>
    </div>
  </div>



  <div class="form-row" >
    <div class="col-md-4 mb-3">
      <label for="username">Nombre de kilometres</label>
      <input type="number" #vehiculeKmInput="ngModel" [(ngModel)]="vehiculeForm.nbKm"
             required class="form-control"
             [class.is-valid] = "vehiculeKmInput.valid"
             [class.is-invalid] = "!vehiculeKmInput.valid"
             id="vehiculeKmInput" name="nbKm" step="1"
             placeholder="Kilométrage">
      <div *ngIf="vehiculeKmInput.valid" class="valid-feedback">
        Looks good!
      </div>

      <div *ngIf="!vehiculeKmInput.valid" class="invalid-feedback">
        Veuillez saisir le nom du véhicule
      </div>
    </div>
  </div>

  <div class="form-row" >
    <div class="col-md-4 mb-3">
      <label for="username">Prix</label>
      <input type="number" #vehiculePrixInput="ngModel" [(ngModel)]="vehiculeForm.prix"
             required class="form-control"
             [class.is-valid] = "vehiculePrixInput.valid"
             [class.is-invalid] = "!vehiculePrixInput.valid"
             id="vehiculePrixInput" name="prix" step="1"
             placeholder="Kilométrage">
      <div *ngIf="vehiculePrixInput.valid" class="valid-feedback">
        Looks good!
      </div>

      <div *ngIf="!vehiculePrixInput.valid" class="invalid-feedback">
        Veuillez saisir le nom du véhicule
      </div>
    </div>
  </div>


  <div class="form-row" >
    <div class="col-md-4 mb-3">
      <label for="username">Photo</label>
      <input type="text" #photoVehicule="ngModel" [(ngModel)]="vehiculeForm.image"
             class="form-control"
             [class.is-valid] = "photoVehicule.valid"
             [class.is-invalid] = "!photoVehicule.valid"
             id="image" name="image"
             placeholder="Image du véhicule">
      <div *ngIf="photoVehicule.valid" class="valid-feedback">
        Looks good!
      </div>

      <div *ngIf="!photoVehicule.valid" class="invalid-feedback">
        Veuillez saisir le nom du véhicule
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="username">Marque</label>
      <select required
              [(ngModel)]="vehiculeForm.marque"
              #marqueSelect="ngModel"
              [class.is-valid] = "vehiculeForm.marque"
              [class.is-invalid] = "!vehiculeForm.marque || vehiculeForm.marque == 'null'"
              name="photo"
              class="form-select" aria-label="Default select example">
        <option selected [value]="null">Selectionnez une marque</option>
        <option *ngFor="let marque of marques" [value]="'/api/marques/'+marque.id">{{ marque.nom }}</option>
      </select>
    </div>

  </div>


  <button [disabled]="!formVoiture.valid" type="submit" class="btn btn-success">Valider</button>
</form>
