<h1>Bienvenue sur l'accès d'administration</h1>

<button (click)="logout()" class="btn btn-danger">Me déconnecter</button>

<a [routerLink]="['/admin/ajout']">
  <button class="btn btn-success">Ajouter un nouveau véhicule</button>
</a>

<table class="table" *ngIf="!isLoading">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Marque</th>
    <th scope="col">Nom</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let voiture of voitures">
    <th scope="row">{{ voiture?.id }}</th>
    <td>{{ voiture?.marque?.nom }}</td>
    <td>{{ voiture?.nom }}</td>
    <td>
      <button (click)="deleteEvent(voiture.id)" class="btn btn-danger">Supprimer</button>
      <a [routerLink]="['/admin/edit', voiture?.id]">
      <button class="btn btn-info">Mettre à jour</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>


