<h1>Les véhicules disponibles</h1>

<div *ngIf="isLoading" class="spinner-border" role="status">

</div>

<div class="container-fluid">
  <div class="row">
<ng-container *ngIf="!isLoading">

<div class="card" style="width: 18rem;" *ngFor="let voiture of voitures">
  <img class="card-img-top" src="{{ voiture?.image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ voiture?.marque?.nom }} {{ voiture?.nom }}</h5>
    <a [routerLink]="['',voiture.id]" class="btn btn-primary">Voir la fiche technique</a>
  </div>
</div>

</ng-container>
  </div>
</div>
